[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
sklearn = "*"
Flask = "*"
gunicorn = "*"
numpy = "*"
scipy = "*"

[requires]
python_version = "2.7"
